<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://localhost/~Kento012/ex-gen-app/public/css/bootstrap.min.css" rel="stylesheet">
        <title><%= title %></title>
        <link rel='stylesheet' href='http://localhost/~Kento012/ex-gen-app/public/css/index.css' />
        <script src="http://localhost/~Kento012/ex-gen-app/public/js/jquery-3.3.1.min.js"></script>
        <script src="http://localhost/~Kento012/ex-gen-app/public/js/bootstrap.min.js"></script>
    </head>
    <body class="container-fluid">
        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-8">
            
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <!-- <a class="navbar-brand" href="#">Ubunbun</a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>


                <div class="jumbotron text-center text-nowrap alert-secondary">
                    <h1><%= title %></h1>
                    <h5>レビュー中の食感語を可視化</h5>
                </div>

                <%= message %>
            
            </div>

            <div class="col-sm-2"></div>

    <!-- <script src="js/index.js"></script> -->
  </body>
</html>
